openapi: 3.0.0
info:
  title: Bunpeg Media API
  version: 0.0.1
  description: API for media operations using FFmpeg via Bunpeg

servers:
  - url: https://api.bunpeg.io

paths:
  /upload:
    post:
      summary: Upload a media file, currently you can upload video or audio of up to 500MB
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
                - file
      responses:
        '200':
          description: Upload successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  fileId:
                    type: string
                  key:
                    type: string

  /extract-audio:
    post:
      summary: Extract audio from a video file
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractAudioSchema'
      responses:
        '200':
          description: Audio extracted successfully

  /transcode:
    post:
      summary: Transcode a video to a different format
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscodeSchema'
      responses:
        '200':
          description: Transcode successful

  /trim:
    post:
      summary: Trim a video segment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrimSchema'
      responses:
        '200':
          description: Trim successful

  /cut-end:
    post:
      summary: Cut a segment from the end of a video
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CutEndSchema'
      responses:
        '200':
          description: Segment removed

  /chain:
    post:
      summary: Chain multiple operations on a file
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChainSchema'
      responses:
        '200':
          description: All operations queued

  /add-audio:
    post:
      summary: Add an audio track to a video
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddAudioSchema'
      responses:
        '200':
          description: Audio added

  /screenshot:
    post:
      summary: Extract a screenshot from a video
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreenshotSchema'
      responses:
        '200':
          description: Screenshot created

components:
  schemas:
    TrimSchema:
      type: object
      required: [fileId, start, duration, outputFormat]
      properties:
        fileId:
          type: string
        start:
          type: string
        duration:
          type: string
        outputFormat:
          type: string
          enum: [mp4, mkv, webm, mov, avi]

    CutEndSchema:
      type: object
      required: [fileId, duration, outputFormat]
      properties:
        fileId:
          type: string
        duration:
          type: string
        outputFormat:
          type: string
          enum: [mp4, mkv, webm, mov, avi]

    TranscodeSchema:
      type: object
      required: [fileId, format]
      properties:
        fileId:
          type: string
        format:
          type: string
          enum: [mp4, mkv, webm, mov, avi]

    ExtractAudioSchema:
      type: object
      required: [fileId, audioFormat]
      properties:
        fileId:
          type: string
        audioFormat:
          type: string
          enum: [mp3, m4a, aac, flac, wav, opus]

    AddAudioSchema:
      type: object
      required: [videoFileId, audioFileId, outputFormat]
      properties:
        videoFileId:
          type: string
        audioFileId:
          type: string
        outputFormat:
          type: string
          enum: [mp4, mkv, webm, mov, avi]

    ScreenshotSchema:
      type: object
      required: [fileId, timestamp]
      properties:
        fileId:
          type: string
        timestamp:
          type: string
        outputFormat:
          type: string
          enum: [jpg, png, webp]
          default: png

    ChainSchema:
      type: object
      required: [fileId, operations]
      properties:
        fileId:
          type: string
        operations:
          type: array
          minItems: 1
          items:
            oneOf:
              - $ref: '#/components/schemas/TrimSchema'
              - $ref: '#/components/schemas/CutEndSchema'
              - $ref: '#/components/schemas/ExtractAudioSchema'
              - $ref: '#/components/schemas/TranscodeSchema'
